battle*.translation
credits*.translation
fieldskills*.translation
items*.translation
keyboard*.translation
locations*.translation
menus*.translation
story*.translation
dialogue - *.translation
dialogue_Hotel Party Banter*.translation
dialogue_ItemDialogue*.translation
dialogue_ItemDescriptions*.translation
dialogue_Podunk*.translation
dialogue_Reusable*.translation
dialogue_shitpost*.translation
dialogue_Testing*.translation
dialogue_Magicant*.translation
dialogue_Merrysville*.translation
dialogue_Snowman*.translation